<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/logo.jpg">
</div> -->
<!-- <ul>
  <li>
   Link 1
 //  <app-my-component></app-my-component> 
  </li>
  <li>
   Link 2
  </li>
  <li>
  </li>

</ul>
<div> Months
  <select (change)="changeMonths($event)">
<option  *ngFor="let i of months">{{i | uppercase}}</option>
  </select>
  <div>
    <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
 </div>
</div>
<button (click)="btnClick($event)" class="btn btn-primary">
Click Here
</button>
<div class="row">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a *ngFor="let i of months" class="dropdown-item" href="#">{{i}}</a>
    </div>
  </div>
</div>
 -->

 
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/signup">Signup</a>
            <a class="nav-item nav-link"routerLink="/dashboard">Dashboard</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
      </nav>
</div>
<div class="row">
    <h1>Demp App</h1>
</div>
<router-outlet></router-outlet>