<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/logo.jpg">
</div> -->
<!-- <ul>
  <li>
   Link 1
 //  <app-my-component></app-my-component> 
  </li>
  <li>
   Link 2
  </li>
  <li>
  </li>

</ul>
<div> Months
  <select (change)="changeMonths($event)">
<option  *ngFor="let i of months">{{i | uppercase}}</option>
  </select>
  <div>
    <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
 </div>
</div>
<button (click)="btnClick($event)" class="btn btn-primary">
Click Here
</button>
<div class="row">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a *ngFor="let i of months" class="dropdown-item" href="#">{{i}}</a>
    </div>
  </div>
</div>
 -->
<div class="row">
    <h1>Demp App</h1>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/signup" routerLinkActive="active">Signup</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </nav>
    <router-outlet></router-outlet>
</div>